.formulario {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
}

.formulario form {
    max-width: 80%;
    padding: 36px 64px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.formulario h2 {
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .formulario h2 {
        font-size: 1.6rem;
    }
}