.time {
    padding: 32px;
    background-color: #d9f7e9;
    text-align: center;
}

.time h3 {
    padding-bottom: 8px;
    font-size: 32px;
    border-bottom: 4px solid #57c278;
    display: inline-block;
}